@use 'sass:map';
@use '../../settings/theme' as theme;
@use '../../settings/themes/light/maps/color' as lightColor;
@use '../../settings/themes/dark/maps/color' as darkColor;

@mixin background($theme) {
  @if $theme == theme.$theme-light {
    @include backgroundLightStyles(lightColor.$color);
  }

  @if $theme == theme.$theme-dark {
    @include backgroundDarkStyles(darkColor.$color);
  }
}

@mixin backgroundLightStyles($color) {
  .cfu-background {
    // Interactive
    &-interactive {
      @each $name, $value in map.get($color, 'interactive') {
        &-#{$name} {
          background-color: $value;
        }
      }
    }

    // Grayscale
    &-grayscale {
      @each $name, $value in map.get($color, 'grayscale') {
        &-#{$name} {
          background-color: $value;
        }
      }
    }

    // Indicator
    &-indicator {
      @each $name, $value in map.get($color, 'indicator') {
        &-#{$name} {
          @each $name2, $value2 in $value {
            &-#{$name2} {
              background-color: $value2;
            }
          }
        }
      }
    }

    // Accent
    &-accent {
      @each $name, $value in map.get($color, 'accent') {
        &-#{$name} {
          @each $name2, $value2 in $value {
            &-#{$name2} {
              background-color: $value2;
            }
          }
        }
      }
    }

    // Gradient
    &-gradient {
      background-image: map.get($color, 'gradient');

      &-vertical {
        background-image: map.get($color, 'gradient-vertical');
      }
    }

    // White
    &-white {
      background-color: map.get($color, 'white');
    }
  }
}

@mixin backgroundDarkStyles($color) {
  .cfu-background {
    // Background
    &-background {
      @each $name, $value in map.get($color, 'background') {
        &-#{$name} {
          background-color: $value;
        }
      }
    }

    // Font
    &-font {
      @each $name, $value in map.get($color, 'font') {
        &-#{$name} {
          background-color: $value;
        }
      }
    }

    // Primary
    &-primary {
      @each $name, $value in map.get($color, 'primary') {
        &-#{$name} {
          background-color: $value;
        }
      }
    }

    // Accent
    &-accent {
      @each $name, $value in map.get($color, 'accent') {
        &-#{$name} {
          @each $name2, $value2 in $value {
            &-#{$name2} {
              background-color: $value2;
            }
          }
        }
      }
    }

    // Black
    &-black {
      background-color: map.get($color, 'black');
    }

    // White
    &-white {
      background-color: map.get($color, 'white');
    }
  }
}
