$pagination: 'cfc-pagination';
$sidebar: 'cfc-sidebar';
$tab: 'cfc-tab';
$wizard: 'cfc-wizard';
$action-menu: 'cfc-action-menu';
$action-menu-accordion: 'cfc-action-menu-accordion';
$button: 'cfc-button';
$button-group: 'cfc-button-group';
$link: 'cfc-link';
$field-check: 'cfc-field-check';
$field-check-group: 'cfc-field-check-group';
$table: 'cfc-table';
$droppable: 'cfc-droppable';
$droppable-overlay: 'cfc-droppable-overlay';
$form-group: 'cfc-form-group';
$field-group: 'cfc-field-group';
$text-field: 'cfc-field-text';
$textarea: 'cfc-field-textarea';
$form-control: 'cfc-form-control';
$segmented-button: 'cfc-segmented-button';
$timepicker: 'cfc-timepicker';
$toggle-switch: 'cfc-toggle-switch';
$trigger: 'cfc-trigger';
$accordion: 'cfc-accordion';
$avatar: 'cfc-avatar';
$card: 'cfc-card';
$chip: 'cfc-chip';
$chip-new: 'cfc-chip-new';
$divider: 'cfc-divider';
$section: 'cfc-section';
$data-tile: 'cfc-data-tile';
$trend: 'cfc-trend';
$title: 'cfc-title';
$popover: 'cfc-popover';
$popover-new: 'cfc-popover-new';
$tag: 'cfc-tag';
$tag-group: 'cfc-tag-group';
$tooltip: 'cfc-tooltip';
$alert: 'cfc-alert';
$badge: 'cfc-badge';
$empty-state: 'cfc-empty-state';
$modal: 'cfc-modal';
$slideout: 'cfc-slideout';
$slideout-new: 'cfc-slideout-new';
$toast: 'cfc-toast';
$page: 'cfc-page';
$skeleton: 'cfc-skeleton';
