@mixin direction($theme) {
  @include directionStyles;
}

@mixin directionStyles {
  .cfu-flex {
    &-row {
      flex-direction: row;

      &-reverse {
        flex-direction: row-reverse;
      }
    }

    &-column {
      flex-direction: column;

      &-reverse {
        flex-direction: column-reverse;
      }
    }
  }
}
